:root {
  --orangeColor: #ffa600;
  --large-font_size: 30px;
}

* {
  box-sizing: border-box;
  font-family: 'Play', sans-serif;
}

h1 {
  font-size: var(--large-font_size);
}

header {
  text-align: center;
  color: var(--orangeColor);
}

.pokedex_output {
  text-align: center;
  flex: 1 1 100px;
  margin-bottom: 40px;
}

ul {
  list-style-type: none;
  text-align: center;
  padding: 5px;
  border: 1px solid black;
  width: 25%;
  margin: auto;
  min-width: 200px;
  max-width: 250px;
}

button {
  border: 0px;
  font-size: 18px;
  background: #c7c7c7;
}

li {
  background: #c7c7c7;
  margin: 5px;
}

#modal-container {
  display: none;
}

#modal-container.is-visible {
  display: grid;
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  /* to show it above other content */
  z-index: 999;
  /* to allow scrolling if the screen is not high enough*/
  overflow: auto;
  /* this is used to center the modal */
  text-align: center;
}

.modal {
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  background: #fff;
  padding: 15px;
  width: 100%;
  max-width: 500px;
  text-align: center;
}

.modal-close {
  float: right;
  -webkit-appearance: none;
  border: 0;
  background: none;
  color: #777;
  text-decoration: underline;
}

.modal h1 {
  margin-top: 0;
  text-align: center;
}

.modal p {
  margin-bottom: 0;
}